[Unit]
Description=Jenkins
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/jenkins.env
ExecStart=/usr/bin/java -jar /opt/jenkins/bin/jenkins.war
Restart=always
User=jenkins
RestartSec=20

[Install]
WantedBy=multi-user.target
